@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-display: "Poppins", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #1368ec;
}
@layer base {
  html {
    font-family: var(--font-display);
  }
  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.input-box{
  @apply w-full flex justify-between gap-3 text-sm bg-slate-100/50 rounded border border-slate-200 px-4 py-3 mb-3 mt-3 
}
.login-button{
  @apply w-full py-2 px-3 border border-purple-700 rounded hover:bg-slate-200 hover:text-blue-600 outline-none cursor-pointer mb-3
}